mixin recent-bookings
	.content-box
		.content-box-header
			h2.box-title Recent Bookings
			a.viewmore-link(href='bookings.html')
				span.d-none.d-sm-inline.d-md-inlin.d-lg-inline View All 
				|  →
		.booking-list-widget
			.booking-list-widget-item.danger
				.booking-list-item-src
					img(src='img/booking-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-danger Declined
				+box-link
			.booking-list-widget-item.danger
				.booking-list-item-src
					img(src='img/booking-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-danger Declined
				+box-link

			.booking-list-widget-item.danger
				.booking-list-item-src
					img(src='img/booking-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-danger Declined
				+box-link



			.booking-list-widget-item.warning
				.booking-list-item-src
					img(src='img/expedia-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Constantine Papozopulos
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-warning Pending
				+box-link

			.booking-list-widget-item.warning
				.booking-list-item-src
					img(src='img/expedia-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name John Doe
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-warning Pending
				+box-link
			.booking-list-widget-item.warning
				.booking-list-item-src
					img(src='img/expedia-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Adam Grant
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-warning Pending
				+box-link

			.booking-list-widget-item.success
				.booking-list-item-src
					img(src='img/airbnb-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-success Paid
				+box-link

			.booking-list-widget-item.success
				.booking-list-item-src
					img(src='img/airbnb-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-success Paid
				+box-link

			.booking-list-widget-item.success
				.booking-list-item-src
					img(src='img/airbnb-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-success Paid
				+box-link

			.booking-list-widget-item.success
				.booking-list-item-src
					img(src='img/airbnb-logo.png' alt='')
				.booking-list-item-id ID-5838
				.booking-list-item-guest
					.guest-avatar
						img(src='img/user.png' alt='')
					.guest-name Thomas Horton
					.verification-badge
						img(src='img/verified-user.svg' width='12' height='12')
				.booking-list-item-legend
					.booking-price $1,290
					.booking-dates 14 Jun - 22 Jun
				.booking-list-item-status
					span.badge.badge-success Paid
				+box-link
				
mixin hot-checkins
	.content-box
		.content-box-header
			h2.box-title Hot Check-Ins
			ul#hot-checkin-filter.nav.nav-pills.custom-pills(role='tablist')
				li.nav-item
					a#bookings-today-tab.nav-link.active(data-toggle='pill', href='#bookings-today', role='tab', aria-controls='bookings-tomorrow', aria-selected='true') Today (10)
				li.nav-item
					a#bookings-tomorrow-tab.nav-link(data-toggle='pill', href='#bookings-tomorrow', role='tab', aria-controls='bookings-tomorrow', aria-selected='false') Tomorrow (8)
		#bookings-tabContent.tab-content
			#bookings-today.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='bookings-today-tab')
				
				.booking-list-widget-item.danger
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-danger Declined
					+box-link
					
				.booking-list-widget-item.danger
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-danger Declined
					+box-link
					
				.booking-list-widget-item.danger
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-danger Declined
					+box-link
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
				
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
			#bookings-tomorrow.tab-pane.fade(role='tabpanel', aria-labelledby='bookings-tomorrow-tab')
				
				
				.booking-list-widget-item.danger
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-danger Declined
					+box-link
					
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.warning
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-warning Pending
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
				
				.booking-list-widget-item.success
					.booking-list-item-src
						img(src='img/booking-logo.png' alt='')
					.booking-list-item-id ID-5838
					.booking-list-item-details
						| Cute and modern 2-bedroom luxury apartment with sea view and pool and some long text to check everyhtings
					.booking-list-item-status
						span.badge.badge-success Paid
					+box-link
					
mixin report-widget
	.report-widget
		.row
			.col-md-8
				.ct-chart
			.col-md-4
				.ct-pie-chart
				
mixin loader
	.loader
		.spinner.
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">	
				<title>circle 02</title>
				<g class="nc-icon-wrapper" fill="#486581">
					<g class="nc-loop_circle-02-24" transform="rotate(132.29857142840046 12 12)"> <path opacity="0.4" fill="#486581" d="M12,24C5.3833008,24,0,18.6166992,0,12S5.3833008,0,12,0s12,5.3833008,12,12 S18.6166992,24,12,24z M12,2C6.4858398,2,2,6.4858398,2,12s4.4858398,10,10,10s10-4.4858398,10-10S17.5141602,2,12,2z"/> <path data-color="color-2" d="M24,12h-2c0-5.5141602-4.4858398-10-10-10V0C18.6166992,0,24,5.3833008,24,12z"/> </g> <script>!function(){function t(t){this.element=t,this.animationId,this.start=null,this.init()}if(!window.requestAnimationFrame){var i=null;window.requestAnimationFrame=function(t,n){var e=(new Date).getTime();i||(i=e);var a=Math.max(0,16-(e-i)),o=window.setTimeout(function(){t(e+a)},a);return i=e+a,o}}t.prototype.init=function(){var t=this;this.animationId=window.requestAnimationFrame(t.triggerAnimation.bind(t))},t.prototype.reset=function(){var t=this;window.cancelAnimationFrame(t.animationId)},t.prototype.triggerAnimation=function(t){var i=this;this.start||(this.start=t);var n=t-this.start;504>n||(this.start=this.start+504),this.element.setAttribute("transform","rotate("+Math.min(n/1.4,360)+" 12 12)");if(document.documentElement.contains(this.element))window.requestAnimationFrame(i.triggerAnimation.bind(i))};var n=document.getElementsByClassName("nc-loop_circle-02-24"),e=[];if(n)for(var a=0;n.length>a;a++)!function(i){e.push(new t(n[i]))}(a);document.addEventListener("visibilitychange",function(){"hidden"==document.visibilityState?e.forEach(function(t){t.reset()}):e.forEach(function(t){t.init()})})}();</script></g></svg>
					
					
mixin invite-modal
	.modal.fade#newTeamMember(tabindex='-1', role='dialog', aria-labelledby='newTeamMember', aria-hidden='true')
		.modal-dialog.modal-sm.modal-dialog-centered
			.modal-content
				.modal-header
					h4.modal-title Invite User
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true')
							i.fas.fa-times
				.modal-body
					form
						.form-group
							label(for='firstName') First Name
							input#firstName.form-control.form-control-sm(type='text', aria-describedby='firstName', placeholder='First Name')
							
						.form-group
							label(for='lastName') First Name
							input#lastName.form-control.form-control-sm(type='text', aria-describedby='lastName', placeholder='Last Name')
							
						.form-group
							label(for='role') Role
							select#role.custom-select.custom-select-sm
								option Manager
								option Admin
							
						.form-group
							label(for='email') Email
							input#email.form-control.form-control-sm(type='text', aria-describedby='email', placeholder='Email Address')

					
					
				.modal-footer
					button.btn.btn-sm.btn-secondary.mr-auto.px-3(type='button', data-dismiss='modal') Cancel
					button.btn.btn-sm.btn-success.px-3(type='button') Send Invite
					
					
					
mixin edit-user-modal
	.modal.fade#editTeamMember(tabindex='-1', role='dialog', aria-labelledby='editTeamMember', aria-hidden='true')
		.modal-dialog.modal-lg.modal-dialog-centered
			.modal-content
				.modal-body
					
					.row
						.col-sm-6
							.card-section-title.mt-2.mb-3 
								h4.mb-0 User Details
							.row
								.col-sm-4.text-center.mb-4
									.user-image
										img(src='img/user-lg.png')
									a.btn.btn-xs(href='#0') Upload Photo
								.col-sm-8
									form
										.form-row
											.form-group.col-6
												label(for='userFirstName') First Name
												input#userFirstName.form-control.form-control-sm(type='text', value='Jane')
											.form-group.col-6
												label(for='userLastName') Last Name
												input#userLastName.form-control.form-control-sm(type='text', value='Murray')
										.form-group
											label(for='userEmail') Email
											input#userEmail.form-control.form-control-sm(type='email', value='jane.murray@gmail.com')
										.form-group
											label(for='userPhone') Phone
											input#userPhone.form-control.form-control-sm(type='text', value='412-693-7866')
										.form-group
											label(for='userPassword') Password
											input#userPassword.form-control.form-control-sm(type='password', value='*********')
										.custom-control.custom-checkbox
											input#userLock.custom-control-input(type='checkbox')
											label.custom-control-label(for='userLock') Locked Out

								
							
							
							
						.col-sm-6
							.card-section-title.mt-2.mb-3
								h4.mb-0 User Permissions
							.form-group
								label(for='userRole') Role
								select#userRole.custom-select.custom-select-sm
									option Manager
									option Admin
									option Agent
							.card-section-title.mt-1.mb-3 Access Permissions
							.row.no-gutters
								.col
									+checkbox('access01', 'access01', 'Calendar View')
									+checkbox('access02', 'access02', 'Booking View')
									+checkbox('access03', 'access03', 'Property Config')
									+checkbox('access04', 'access04', 'Reports')
									+checkbox('access05', 'access05', 'Payment Gateway Settings')
								.col
									+checkbox('access06', 'access06', 'PMS Settings')
									+checkbox('access07', 'access07', 'Payment Rules Settings')
									+checkbox('access08', 'access08', 'Booking Payments')
									+checkbox('access09', 'access09', 'Booking Logs')
									
										
										
							.card-section-title.mt-3.mb-3 Transaction Permissions
							.custom-control.custom-checkbox.custom-control-inline
								input#inlineCheckbox1.custom-control-input(type='checkbox', value='option1')
								label.custom-control-label(for='inlineCheckbox1') Charges
								
							.custom-control.custom-checkbox.custom-control-inline
								input#inlineCheckbox2.custom-control-input(type='checkbox', value='option2')
								label.custom-control-label(for='inlineCheckbox2') Authorize
							.custom-control.custom-checkbox.custom-control-inline
								input#inlineCheckbox3.custom-control-input(type='checkbox', value='option3')
								label.custom-control-label(for='inlineCheckbox3') Capture
							.custom-control.custom-checkbox.custom-control-inline
								input#inlineCheckbox4.custom-control-input(type='checkbox', value='option4')
								label.custom-control-label(for='inlineCheckbox4') Refund


					
				.modal-footer.mt-3
					button.btn.btn-sm.btn-outline-danger.mr-auto(type='button') Delete User
					button.btn.btn-sm.btn-secondary.px-3(type='button', data-dismiss='modal') Cancel
					button.btn.btn-sm.btn-success.px-3(type='button') Save Changes